@import url('./colors.css');

.loader-content{
    width: 100%;
    background: transparent;
    position: relative;
    height: 100%;
}
#loader{
    display: none;
}

.loader-img{
    position: fixed;
    top:40%;
    bottom: 60%;
    left: 50%;
    right: 50%;
    width: 65px;
    background: var(--white);
}

