*{
    padding: 0px;
}

:root{
    --green: rgb(0, 128, 128);
}



.navbar{
    z-index: 10px;
    height: 60px;
}

.nav-left{
    background: #212529;
    color: white;
    top:60px;
    height: calc(100vh - 80px);
    position: fixed;
    left: 0px;
}

.nav-left > a{
    color: white;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}


.nav-left > a:focus{
    color: var(--green);

}


.nav-link:hover{
    color: var(--green);
    border-bottom: 3px solid var(--green);
}
.navbar-nav{
    display: none;
    background: #212529;
    padding-left: 10px;
    position: relative;
}



.active-link{
    border-bottom: 3px solid var(--green);
}

@media screen and (max-width: 752px) {

    .nav-left{
        background: #212529;
        color: white;
        top:60px;
        height: calc(100vh - 80px);
        position: fixed;
        left: 0px;
        display: none;
    }

    .navbar-nav{
        display: block;
        background: #212529;
        padding: 10px;
    }
    
}