@import url('./colors.css');

body{
    background: var(--gray);
}


.logo-img{
    width: 80px;
}


.card-category{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center!important;
}

.card:hover{
    transform: scale(1.05);

}

.target{
    background: var(--white);
}

.btn-add{
    position: fixed;
    right: 3em;
    bottom: 3em;
}
.btn-add > button{
    width: 60px;
    height: 60px;
}

.content > p{
    margin: 0;

}

.metadata > p{
    margin: 0;
    font-size: 14px;
}

.head-sale-details b{
    color: var(--steelblue);
}

.bg-red{
    background: rgba(255, 1, 1, 0.2)!important;
}

.bg-gray {
    background: rgba(170, 169, 169, 0.462)!important;
}

.bg-blue{
    background: rgba(111, 159, 223, 0.477)!important;
}


/* DASHBOARD */
.content-number{
    display: flex;  
    justify-content: center;
}

.content-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}


.img-card{
    width: 80px;
    height: 80px;
    display: flex;
    margin: auto;
}

.content-number > .number{
    padding: 10px;
    border-radius: 50%;

}

.grid-dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
}


.grid-dashboard > div{
    border: 1px solid var(--dash);
    border-radius: 5px;
}

.titleCard{
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.chartSales{
    width: 100%;
}


canvas{
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
}

.amount-data > p{
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    background: var(--blackNav);
    color: var(--white);
    margin: 0px;
    font-size: 12px;

}

/* Profile */

.content-profile{
    border: 1px solid #0005;
    padding: 20px;

}

.card-profile{
    margin-top: 30px;
    padding-left: 10px;
}

.card-profile p{
    margin: 10px;

}